
        #portfolioCarousel {
            max-width: 80%; 
            margin: 0 auto; 
        }

        #portfolioCarousel .carousel-inner {
            max-height: 400px; 
        }

        #portfolioCarousel .carousel-item img {
            object-fit: cover; 
            height: 100%; 
        }

        
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: black;
        }

        
        .carousel-control-prev-icon:hover,
        .carousel-control-next-icon:hover {
            background-color: #333; 
        }